@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.contenedor{
  margin: 0 auto;
  width: 1300px;
}
.cajon{
  margin: 0 auto 60px;
  text-align: center;
  width: 420px;
}
.bag{
  background: linear-gradient(0deg, rgba(241, 246, 253, 0) 1.63%, #F1F6FD 25.5%, #F1F6FD 58.57%, #FFFFFF 100%);
  /* background: red; */
}
.shadow{
  box-shadow: 0px 0px 16px 0px black;
}
.bag2{
  /* background: linear-gradient(90deg, #a6ceff -15.24%, #FFFFFF 78.85%); */
  background: linear-gradient(90deg, #1557a9 -15.24%, #FFFFFF 78.85%);
}
.font{
  font-family: 'Montserrat';
}
.blog h2{
  color: rgb(27, 10, 98);
  font-weight: 700;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;  
  font-size: x-large;
}
.blog h3{
  color: rgb(13, 13, 53);
  font-weight: 600;
  margin-bottom: 8px;
  font-size: large;
  margin-top: 32px;
}
.blog p{
  margin-bottom: 8px;
}
.blog ul{
  margin-left: 8px;
}
.blog ul ul{
  list-style: circle;
  margin-left: 32px;
}
@media  (max-width: 1299px) {
  .contenedor{
    margin: 4px;
    width: 100%;
  }
  .cajon{
    width: 100%;
    margin: 0 4px;
    
  }
}