.header{
  width: 100%;
  padding: 0px 140px 0px 140px;
  background: rgb(32, 32, 32);
  color: white;
  animation: blur linear both ;
  box-shadow: 1px 4px 10px -6px black;
  position: fixed;
  z-index: 100;
  height: 62px;
  animation-timeline: scroll();
  animation-range: 0 232px;
}
.this{
  padding: 0px 200px 0px 200px;
}
.nav{
  display: flex;
}
@keyframes blur {
  to{
    z-index: 100;
    color: white;
    box-shadow: 0px 5px 50px -5px rgba(0,0,0,.1);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,.3);
    background: rgba(0,0,0,.8);
    backdrop-filter: blur(10px);
  }
}
@media  (max-width: 1299px) {
  .header{
    padding: 0 4px;
    animation: none;
  }
  .nav{
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 61px;
    left: -0px;
    width: 100vw;
    transition: all .6s ease-in-out;
    text-align: center;
    background: rgb(32, 32, 32);
  }
  .nav li{
    padding: 8px 0;
  }
}
