.footer{
  height: 62px;
  background: rgb(32, 32, 32);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preFooter{
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  background-color: #0f172a;
  color: white;
}
@media  (max-width: 1299px) {
  .preFooter{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 16px 0 ;
  }
  .footer{
    text-align: center;
    padding: 4px;
  }
}